In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
d={"m1":[3,4,4,np.nan,2,1],"m2":[1,2,1,3,5,4],"m3":[2,3,3,4,5,np.nan],"m4":[2,3,3,4,np.nan,5],"m5":[np.nan,4,2,5,3,np.nan],"m6":[2,2,5,np.nan,3,np.nan]}
records=pd.DataFrame(d)

records

    m1  m2   m3   m4   m5   m6
0  3.0   1  2.0  2.0  NaN  2.0
1  4.0   2  3.0  3.0  4.0  2.0
2  4.0   1  3.0  3.0  2.0  5.0
3  NaN   3  4.0  4.0  5.0  NaN
4  2.0   5  5.0  NaN  3.0  3.0
5  1.0   4  NaN  5.0  NaN  NaN

In [19]:
Mnums=np.array([5,6,6,4,5,3])
ratingSum=np.array(records.sum(axis=1))
avg=np.round(ratingSum/Mnums,2)
avg

array([2.  , 3.  , 3.  , 4.  , 3.6 , 3.33])

In [21]:
sim=records.T.corr()
sim

          0         1         2         3         4         5
0  1.000000  0.845154  0.715097  1.000000 -0.816497 -0.720577
1  0.845154  1.000000  0.000000  1.000000 -0.559017 -0.720577
2  0.715097  0.000000  1.000000  0.426401 -0.589256 -0.576557
3  1.000000  1.000000  0.426401  1.000000 -0.866025  1.000000
4 -0.816497 -0.559017 -0.589256 -0.866025  1.000000  1.000000
5 -0.720577 -0.720577 -0.576557  1.000000  1.000000  1.000000

In [47]:

def predict(user,movie,NN,avg,sim):
    movies=np.array(records.iloc[:,movie])

    m1,m2=movies[NN[0]]-avg[NN[0]],movies[NN[1]] -avg[NN[1]]
    s1,s2=sim.iloc[user,NN[0]],sim.iloc[user,NN[1]]
    
    rating=(s1*m1+s2*m2)/(s1+s2)+avg[user]
    return round(rating,2), rating>avg[user]

In [48]:
r_4_1=predict(3,0,[0,1],avg,sim)
r_6_3=predict(5,2,[3,4],avg,sim)
#r_5_4=predict(4,3,[3,4],avg,sim)  # fail only 1NN

r_1_5=predict(0,4,[1,3],avg,sim)
r_6_5=predict(5,4,[3,4],avg,sim)
r_4_6=predict(3,5,[0,1],avg,sim)
#r_6_6=predict(5,5,[3,4],avg,sim)  # fail only 1NN

re=list([r_4_1,r_6_3,r_1_5,r_6_5,r_4_6])

In [49]:
re

[(5.0, True), (4.03, True), (3.0, True), (3.53, True), (3.5, False)]